@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Proyecto I</h1>
    <p class="lead">Creación de un sitio web para el ingreso de socio y el préstamo de libros, utilizando MVC, HTML, CSS, Ajax y JavaScript.</p>
    <p><a href="https://1drv.ms/b/s!AiEMbMXoQrLdgZM4BJW2hkAkbfgrcg?e=xulrBh" class="btn btn-primary btn-lg" target="_blank">Instrucciones &raquo;</a></p>
</div>

